.spacer {
	border: 1px solid black; 
	width:700px; 
	height:0px; 
	margin-top:15px;
	float:left;
}

.ok_status_block {
	display:none; 
	float:left; 
	color:green; 
	margin-top:3px; 
	width:100%;
}

.er_status_block {
	display:none; 
	float:left; 
	color:red; 
	margin-top:3px; 
	width:100%;
}

.div-table{display:table;}

.div-table-caption{display:table-caption;}

.div-table-row{display:table-row;}

.div-table-col{display:table-cell; padding: 5px;}
