<html>
	<body>
		<table >
			<tr>
			<td valign="top" style="width:350px;" >
				<b>Name:</b> {{person.name}} </br>
				<b>Surname:</b> {{person.surname}} </br>
				<b>Bio:</b> {{person.bio}} </br>
			</td>

			<td >
				<b>Contacts:</b>
				<table border="1" >
					{% for contact in contacts %}
					<tr>
						<td style="min-width:50px;" >{{contact.ctype}}</td>
						<td>{{contact.value}}</td>				
					</tr>
					{% endfor %}
				</table>
			</td>
			</tr>
		</table>
	
		<div style="border: 1px solid black; width:700px; height:0px; margin-top:15px;" />
	
		<div style="margin-top:15px;" > <a href="{% url requests_info %}" >requests</a> </div>

		<div style="border: 1px solid black; width:700px; height:0px; margin-top:15px;" />

		<div style="margin-top:15px;" > 
			<b>django.settings:</b>
			{{settings}}
			{{settings.ROOT_URLCONF}}
			{{settings.TEMPLATE_CONTEXT_PROCESSORS}}
			{{settings.LANGUAGE_CODE}}
		</div>
	</body>

</html>
