{% extends "base.html" %}

{% block link %} <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/main.css" /> {% endblock %}

{% block content %}
	<div style="width:700px;" >

		<div style="float:left; width:50%;" >
			<b>Name:</b> {{person.name}} </br>
			<b>Surname:</b> {{person.surname}} </br>
			<b>Bio:</b> {{person.bio}} </br>
		</div>

		<div style="float:right; width:50%;" >
			<b>Contacts:</b> </br>
			{% for contact in person.contact_set.all %}
				<b>{{contact.ctype}}</b>: {{contact.value}} </br>
			{% endfor %}
		</div>
	</div>	

	<div style="float:left; width:700px;" >
		{% if user.is_authenticated %}
			User: {{ user.username }} (<a href="{% url auth_logout %}">Logout</a>)
		{% else %}
			To edit data, you must <a href="{% url auth_login %}">Login</a>
		{% endif %}
	</div>

	<div class="spacer" />

	<div style="float:left; width:700px; margin-top:15px;" > 
		<a href="{% url requests_info %}" >requests</a> 
	</div>

	<div class="spacer" />

	<div style="float:left; margin-top:15px;" > 
		<b>django.settings:</b>	</br>	
		PROJECT_ROOT: {{settings.PROJECT_ROOT}} </br>
		MEDIA_ROOT: {{settings.MEDIA_ROOT}} </br>	
		TIME_ZONE: {{settings.TIME_ZONE}} </br>
		LANGUAGE_CODE: {{settings.LANGUAGE_CODE}} </br>
	</div>
{% endblock %}
