{% extends "main.html" %}

{% block title %}Edit contact{% endblock %}

{% block person_info %}
	<div style="float:left; width: 800px;">
		<form id="personInfoForm" action="{% url person_info_edit %}" method="post">
			<div id="form_container">
				{% csrf_token %}

				<div style="width: 350px; float: left;">
					<div class="div-table">
						{% for field in form %}

						{% if field.errors %}  						
							<div class="div-table-row">
							<div class="div-table-col"> </div>
							<div class="div-table-col" style="color: red;" >
								{% for error in field.errors %}
									<strong>{{ error|escape }}</strong>
								{% endfor %}
							</div>
							</div>
						{% endif %}

						<div class="div-table-row">
						<div class="div-table-col" style="vertical-align:top" >
							{{ field.label_tag }}: 
						</div>
						<div class="div-table-col">{{ field }} </div>
						</div>

						{% endfor %}
					</div>
	
				</div>		

 
				<div style="width: 350px; float: right;">
					<ul>
						{{ contacts.management_form }}

						{% for form in contacts.initial_forms %}
							{{ form.as_ul }}
						{% endfor %}	
					</ul>
				</div>	
			</div>

			<div style="float:left; width: 800px; margin-left: 20px;">
				<input type="submit" value="save" name="saveData" />
				<a href="{% url person_info %}">Cancel</a>
			</div>
		</form>
	</div>
{% endblock %}

