{% extends "main.html" %}

{% block title %}Edit person info{% endblock %}

{% block script %}

	{{ form.media }}

	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.form.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.blockUI.js"></script>

	<script type="text/javascript">
		window.__admin_media_prefix__ = "{{ settings.ADMIN_MEDIA_PREFIX }}";
	</script>

	<script type="text/javascript"> 
		$(document).ready(function() {
		    var options = {
			beforeSubmit: function() {
				$.blockUI({ overlayCSS: { backgroundColor: '#fff' } });	    
			},
			dataType: 'json',
			success: function(responce) {
			    $.unblockUI();
			    if (responce.status=="OK") {
				//$('#er_status_block').hide();
				$('.div-table-row-er').hide();
				$('#ok_status_block').show();		
			    } else {
				$('#ok_status_block').hide();
				//$('#er_status_block').show();

				/*er_html = '<ul style="width:25%;" > Some errors occurred: ';
				for (key in responce.errors) {
					error = responce.errors[key].toString().toLowerCase();
					er_html += '<li>' + error + '</li>';
				}
				er_html += '</ul>';
				$('#er_status_block').html(er_html);*/

				for (key in responce.errors) {
					pair = responce.errors[key];
					$('#er_' + pair[0]).show();
					$('#er_el_' + pair[0]).html('<label>' + pair[1] + '</label>');
				}
			    }
			}
		    }; 
		    $('#personInfoForm').ajaxForm(options);                     
		});
	</script> 


{% endblock %}

{% block bheader %}
	<div style="width:100%; min-height:50px;">
		<div style="font-size:22px; float:left; " > 42 Coffee Cups Test Assignment </div>
	</div>
{% endblock %}


{% block person_info %}
	<div style="float:left; width: 100%; ">
		<form id="personInfoForm" action="{% url person_info_edit %}" method="post">
			{% csrf_token %}

			<div style="width: 350px; float: left;">
				<div class="div-table">
					{% for field in form %}

					{% if field.errors %}  						
						<div class="div-table-row">
						<div class="div-table-col"> </div>
						<div class="div-table-col" style="color: red;" >
							{% for error in field.errors %}
								<strong>{{ error|escape }}</strong>
							{% endfor %}
						</div>
						</div>
					{% endif %}

					<div class="div-table-row">
						<div class="div-table-col" style="vertical-align:top" >
							{{ field.label_tag }}:
						</div>
						<div class="div-table-col">{{ field }} </div>
					</div>

					<div class="div-table-row-er" id="er_{{ field.name }}" style="display:none;" > 
						<div class="div-table-col" style="vertical-align:top" ></div>
						<div class="div-table-col" id="er_el_{{ field.name }}" style="color: red;" >
						</div>
					</div>

					{% endfor %}
				</div>	
			</div>

			<div style="width:350px; float:left; margin-left:100px;">
				<ul>
					{{ contacts.management_form }}

					{% for form in contacts.initial_forms %}
						{{ form.as_ul }}
					{% endfor %}	
				</ul>
			</div>	

			<div style="float:left; width: 100%; margin-left: 20px;">
				<input type="submit" value="save" name="saveData" />
				<a href="{% url person_info %}">Cancel</a>
			</div>
		</form>

		<div id="ok_status_block" class="ok_status_block" style="margin-left:300px;" >
			Person info have been successfully updated!
		</div>
		
		<!-- <div id="er_status_block" class="er_status_block"style="margin-left:300px;" > </div> -->
	</div>

	<script>
	    function validateData(widget) {
		if (widget.value != widget.lastValue) {
		    if (widget.timer) clearTimeout(widget.timer);
		
		    widget.timer = setTimeout(function () {                        
		        $.ajax({
		            url: '{% url person_info_edit %}',
		            data: 'cmd=valpd' + '&' + widget.name + '=' + widget.value + '&csrfmiddlewaretoken=' + '{{csrf_token}}',
		            dataType: 'json',
		            type: 'post',
		            success: function (responce) {
                                findEr = false;
				for (key in responce.errors) {
				    pair = responce.errors[key];
   				    if(pair[0] == widget.name) {
					findEr = true;
				        $('#er_' + pair[0]).show();
				        $('#er_el_' + pair[0]).html('<label>' + pair[1] + '</label>');
                                        break;
                                    }
				}

			        if (!findEr) {
				    $('#er_' + widget.name).hide();
			        }
		            }
		        });
		    }, 200);

		    widget.lastValue = widget.value;
                }

            }

            //"input[type='text']"
	    $("#id_name").keyup(function () { validateData(this); });
            $("#id_birthdate").keyup(function () { validateData(this); });
            $("#id_birthdate").change(function () { validateData(this); });

            //$("#id_surname").keyup(function () { validateData(this); });
            //$("#id_bio").keyup(function () { validateData(this); });
	</script> 
{% endblock %}

