{% extends "main.html" %}

{% block title %}Edit person info{% endblock %}

{% block script %}

	<script type="text/javascript" src="/admin/jsi18n/"></script>
	<script type="text/javascript" src="{{ settings.ADMIN_MEDIA_PREFIX }}js/core.js"></script>

	{{ form.media }}

	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.5.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.form.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.blockUI.js"></script>

	<script type="text/javascript">
		window.__admin_media_prefix__ = "{{ settings.ADMIN_MEDIA_PREFIX }}";
	</script>


	<script type="text/javascript"> 
		$(document).ready(function() {
		    var options = {
			beforeSubmit: function() {
				$.blockUI({ overlayCSS: { backgroundColor: '#fff' } });	    
			},
			dataType: 'json',
			success: function(responce) {
			    $.unblockUI();
			    if (responce.status=="OK")
			    {
				$('#er_status_block').hide();
				$('#ok_status_block').show();		
			    }
			    else 
			    {
				$('#ok_status_block').hide();
				$('#er_status_block').show();
				$('#er_status_block').html('Some errors  occurred: ' + responce.errors);
			    }
			}
		    };    
		    $('#personInfoForm').ajaxForm(options);
		}); 
	</script> 
{% endblock %}

{% block person_info %}
	<div style="float:left; width: 800px; height:350px; ">

		<form id="personInfoForm" action="{% url person_info_edit %}" method="post">
			<div id="form_container">
				{% csrf_token %}

				<div style="width: 350px; float: left;">
					<div class="div-table">
						{% for field in form %}

						{% if field.errors %}  						
							<div class="div-table-row">
							<div class="div-table-col"> </div>
							<div class="div-table-col" style="color: red;" >
								{% for error in field.errors %}
									<strong>{{ error|escape }}</strong>
								{% endfor %}
							</div>
							</div>
						{% endif %}

						<div class="div-table-row">
						<div class="div-table-col" style="vertical-align:top" >
							{{ field.label_tag }}: 
						</div>
						<div class="div-table-col">{{ field }} </div>
						</div>

						{% endfor %}
					</div>	
				</div>		

 
				<div style="width:350px; float:right;">
					<ul>
						{{ contacts.management_form }}

						{% for form in contacts.initial_forms %}
							{{ form.as_ul }}
						{% endfor %}	
					</ul>
				</div>	
			</div>

			<div style="float:left; width: 800px; margin-left: 20px;">
				<input type="submit" value="save" name="saveData" />
				<a href="{% url person_info %}">Cancel</a>
			</div>
		</form>

		<div id="ok_status_block" align="center" class="ok_status_block">
			Person info have been successfully updated!
		</div>

		<div id="er_status_block" align="center" class="er_status_block"> </div>
	</div>
{% endblock %}

